<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="slimScrollDiv">
        <div class="sidebar-collapse">
            <ul side-navigation class="nav metismenu" id="side-menu">
                <li class="nav-header">
        
                    <div class="profile-element" uib-dropdown>
                        <img alt="image" class="img-circle" src="../assets/images/profile_small.jpg"/>
                        <a uib-dropdown-toggle="" href>
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">{{userName}}</strong>
                                    </span>
                                </span>
                        </a>
                    </div>
                    <div class="logo-element">
                        MaxMilhas
                    </div>
        
                </li>
        
                <li ui-sref-active="active">
                    <a ui-sref="index.main"><i class="fa fa-calendar"></i> <span class="nav-label">Marcador de reunião internacional</span> </a>
                </li>
            </ul>
        
        </div>
    </div>
</nav>
